%head
  / Basic Page Needs
  %meta{:charset => "utf-8"}
  %title CAIN - Admin Portal
  %meta{:name => "description", :content => "CAIN Admin Portal"}
  %meta{:name => "author", :content => "Bright"}

  / Mobile Specific Metas
  %meta{:name => "viewport", :content => "width=device-width,initial-scale=1"}

  / Font
  -# %link{:href => "//fonts.googleapis.com/css?family=Raleway:400,300,600", :rel => "stylesheet", :type => "text/css"}

  / Bootstrap CSS
  -# %link{:href => "/bootstrap.min.css", :rel => "stylesheet"}
  %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}

  / JS
  %script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
  -# %script{:type => "text/javascript", :src => "/bootstrap.min.js"}
  %script{:type => "text/javascript", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
  -# %script{:type => "text/javascript", :src => "/custom.js"}
