#home.tab-pane.fade.in.active
  .row
    .col-md-3
      %img{:src => "people.png", :alt => "People", :class => "img-responsive center-block img-rounded", :width => "140"}
    .col-md-4{:class => "text-center"}
      %h5 People of CAIN
      %p Find out information about the CAIN family.
      -# = link_to "View People", :class => "btn btn-info"
      %a{:type => "button", :class => "btn btn-info", :href => "people"} View People

  %hr{:class => "divider"}

  .row
    .col-md-3
      %img{:src => "projects.png", :alt => "Projects", :class => "img-responsive center-block img-rounded", :width => "140"}
    .col-md-4{:class => "text-center"}
      %h5 Our Projects
      %p Find out past, current, and future project information.
      %a{:type => "button", :class => "btn btn-info", :href => "projects"} View Projects

  %hr{:class => "divider"}

  .row
    .col-md-3
      %img{:src => "expenses.png", :alt => "Expenses", :class => "img-responsive center-block img-rounded", :width => "140"}
    .col-md-4{:class => "text-center"}
      %h5 Our Expenses
      %p Find out information about expenses.
      %a{:type => "button", :class => "btn btn-info", :href => "expenses"} View Expenses
