!!!
%html{:lang => "en"}
  %head
    / Basic Page Needs
    %meta{:charset => "utf-8"}
    %title CAIN - Admin Portal
    %meta{:name => "description", :content => "CAIN Admin Portal"}
    %meta{:name => "author", :content => "Bright"}

    / Mobile Specific Metas
    %meta{:name => "viewport", :content => "width=device-width,initial-scale=1"}

    / Font
    -# %link{:href => "//fonts.googleapis.com/css?family=Raleway:400,300,600", :rel => "stylesheet", :type => "text/css"}

    / CSS
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/uikit.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/components/accordion.almost-flat.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/components/sticky.almost-flat.min.css", :rel => "stylesheet", :type => "text/css"}

    / JS
    %script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
    %script{:type => "text/javascript", :src => "https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/uikit.min.js"}
    %script{:type => "text/javascript", :src => "https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/components/sticky.min.js"}

  %body
    %p
    CAIN Admin Portal
